.active {
  color: rgba(226, 128, 128, 1);
  transition: all 0.2s ease-in-out;
}

.post-list li:hover {
  color: rgba(226, 128, 128, 0.5);
  transform: translateX(-10px);
  transition-duration: 0.5s;
}
